{% extends "layout.html" %}

{% block content %}
<p>Биржа: {{name}}</p>
<p>Дата обновления информации: {{date}}</p>
<table class="table ">
    <thead>
    <tr>
        <th>Пара</th>
        <th>Максимальная цена</th>
        <th>Минимальная цена</th>
        <th>Последняя цена</th>
        <th>Объем</th>
        <th>Последнее предложение продажи</th>
        <th>Последнее предложение покупки</th>
    </tr>
    </thead>
    <tbody>
    {% if rates is not none %}
    {% for rate in rates %}
    <tr>
        <td>{{rate.rate_current_currency.name}}/{{rate.rate_compare_currency.name}}</td>
        <td>{{'{0:f}'.format(rate.high_price)}}</td>
        <td>{{'{0:f}'.format(rate.low_price)}}</td>
        <td>{{'{0:f}'.format(rate.last_price)}}</td>
        <td>{{'{0:f}'.format(rate.volume)}}</td>
        <td>{% if rate.bid is not none %} {{'{0:f}'.format(rate.bid)}} {% endif %}</td>
        <td>{% if rate.ask is not none %} {{'{0:f}'.format(rate.ask)}}  {% endif %}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}