{% extends "layout.html" %}

{% block content %}
{% block header %}{% include "header.html" %}{% endblock %}
<section class="table">
    <div class="container">
        <h4>Source: {{name}}</h4>
        <p>Last update: {{date}}</p>
        <p>Period: 24 hours</p>
        <ul class="dropdown-content" id="dropdown5">
            <li><a href="#!">Top 100</a></li>
            <li><a href="#!">Full List</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown6">
            <li><a href="#!">Top 100</a></li>
            <li><a href="#!">Full List</a></li>
            <li class="divider"></li>
            <li><a href="#!">Market Cap by Circulating Supply</a></li>
            <li><a href="#!">Market Cap by Total Supply</a></li>
            <li><a href="#!">Filter Non-Mineable</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown7">
            <li><a href="#!">Top 100</a></li>
            <li><a href="#!">Full List</a></li>
            <li class="divider"></li>
            <li><a href="#!">Market Cap by Circulating Supply</a></li>
            <li><a href="#!">Market Cap by Total Supply</a></li>
            <li><a href="#!">Gainers and Losers</a></li>
            <li><a href="#!">Recently Added</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown8">
            <li><a href="#!">BTC</a></li>
            <li><a href="#!">ETH</a></li>
            <li><a href="#!">AUD</a></li>
            <li><a href="#!">USD</a></li>
            <li><a href="#!">BRL</a></li>
            <li><a href="#!">CAD</a></li>
            <li><a href="#!">NOK</a></li>
            <li><a href="#!">CLP</a></li>
            <li><a href="#!">CZK</a></li>
            <li><a href="#!">HUF</a></li>
            <li><a href="#!">JPY</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper blue-grey lighten-5">
                <ul class="left hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown5">All<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown6">Coins<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown7">Token<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown8">USD<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>
        <table class="table ">
            <thead>
            <tr>
                <th>Pair</th>
                <th>Average price (24h)</th>
                <th>Last price</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% if rates is not none %}
            {% for rate in rates %}
            <tr>
                <td>{{rate.rate_current_currency.name}}/{{rate.rate_compare_currency.name}}</td>
                <td>{{'{0:f}'.format(rate.high_price)}}</td>
                <td>{{'{0:f}'.format(rate.last_price)}}</td>
                <td>{{'{0:f}'.format(rate.volume)}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="table-footer">
            <div class="row"><i>*Not Mineable</i>
            </div>
            <div class="row">
                <h2>Total Market Cap: $145,286,611,068</h2>
            </div>
            <div class="row">
                <p>Last updated: Oct 04, 2017 9:30 AM UTC</p>
            </div>
        </div>
    </div>
</section>
{% block footer %}{% include "footer.html" %}{% endblock %}
{% endblock %}