{% extends "layout2.html" %}

{% block content %}
{% block header %}{% include "header.html" %}{% endblock %}
<section>
    <div class="container">
        <h1>{{title}}</h1>
        <div>
            <form>
                <h3>By Bitcoin online</h3>
                <select class="country">
                    <option value="">Select Country</option>
                    {% for country in data %}
                    <option value="{{country.id}}">{{country.description.title().replace("-", " ")}}</option>
                    {% endfor %}
                </select>
                <br>
                <select class="payment-method">
                    <option value="">Select payment method</option>
                    {% for method in methods %}
                    <option value="{{method.id}}">{{method.name.title()}}</option>
                    {% endfor %}
                </select>
                <br>
                <select class="currency">
                    <option value="">Select currency</option>
                    {% for currency in currencies %}
                    <option value="{{currency.id}}">{{currency.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <button class="go">GO</button>
            </form>
        </div>
        <div>
            <table style="display: none" class="table table-bordered sellers">
                <thead>
                <th>Name</th>
                <th>Feedback Score</th>
                <th>Trade Count</th>
                <th>Last Online</th>
                </thead>
                <tbody class="response">

                </tbody>
            </table>
        </div>
    </div>
</section>

{% block footer %}{% include "footer.html" %}{% endblock %}
<script>
    $(document).ready(function () {
        $('.go').click(function (e) {
            e.preventDefault();
            var country_id = $('.country').val();
            var payment_method_id = $('.payment-method').val();
            var currency_id = $('.currency').val();
            var val = {
                country_id: country_id,
                payment_method_id: payment_method_id,
                currency_id: currency_id
            }
            $.ajax({
                type: 'post',
                data: JSON.stringify(val),
                contentType: 'application/json',
                url: '/get-sellers',
                success: function (response) {
                    $('table.sellers').show();
                    $('.response').empty();
                    if (response !== null) {
                        var arr = Object.keys(response).map(function (k) {
                            return response[k]
                        });
                        arr.forEach(function (item, i, arr) {
                            $('.response').append('<tr><td>' + item.username + '</td><td>' + item.feedback_score + '</td><td>' + item.trade_count + '</td><td>' + item.last_online + '</td></tr>');
                        });
                    }
                    // $.ajax({
                    //     type: 'post',
                    //     data: JSON.stringify(val),
                    //     contentType: 'application/json',
                    //     url: '/update-sellers',
                    //     success: function (response) {
                    //
                    //     }
                    // });
                }
            });
        });
    });
</script>
{% endblock %}

