{% extends "layout2.html" %}

{% block content %}
    {% block header %}{% include "header.html" %}{% endblock %}
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>
    <section>
        <div class="container">
            <h1>{{ title }}</h1>
            <div>
                <form>
                    <h3>Buy Bitcoins online</h3>
                    <select class="country country_online">
                        <option value="">Select Country</option>
                        {% for country in data %}
                            <option value="{{ country.id }}">{{ country.description.title().replace("-", " ") }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select class="payment-method">
                        <option value="">Select payment method</option>
                        {% for method in methods %}
                            <option value="{{ method.id }}">{{ method.name.title() }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select class="currency">
                        <option value="">Select currency</option>
                        {% for currency in currencies %}
                            <option value="{{ currency.id }}">{{ currency.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="go">GO</button>
                </form>
            </div>
            <div>
                <form>
                    <h3>Buy Bitcoins with cash</h3>
                    <select class="country country_cash">
                        <option value="">Select Country</option>
                        {% for country in data %}
                            <option value="{{ country.id }}">{{ country.description.title().replace("-", " ") }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select class="city">
                        <option value="">Select city</option>
                    </select>
                    <br>
                    <button class="go_cash">GO</button>
                </form>
            </div>
            <div id="count">

            </div>
            <div>
                <table style="display: none" class="table table-bordered sellers">
                    <thead>
                    <th>Name</th>
                    <th>Feedback Score</th>
                    <th>Trade Count</th>
                    <th>Last Online</th>
                    </thead>
                    <tbody class="response">

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {% block footer %}{% include "footer.html" %}{% endblock %}
    <script>
        $(document).ready(function () {
            $('.go').click(function (e) {
                e.preventDefault();
                var country_id = $('.country_online').val();
                var payment_method_id = $('.payment-method').val();
                var currency_id = $('.currency').val();
                var val = {
                    country_id: country_id,
                    payment_method_id: payment_method_id,
                    currency_id: currency_id
                }
                $.ajax({
                    type: 'post',
                    data: JSON.stringify(val),
                    contentType: 'application/json',
                    url: '/get-sellers',
                    success: function (response) {
                        $('table.sellers').show();
                        $('.response').empty();
                        if (response !== null) {
                            var arr = Object.keys(response).map(function (k) {
                                return response[k]
                            });
                            arr.forEach(function (item, i, arr) {
                                $('.response').append('<tr><td>' + item.username + '</td><td>' + item.feedback_score + '</td><td>' + item.trade_count + '</td><td>' + item.last_online + '</td></tr>');
                            });
                        }
                    }
                });
            });
            $('.country_cash').change(function () {
                $('.city').empty();
                val = '<option value="">Select city</option>';
                $('.city').append(val);
                var country_id = $('.country_cash').val();
                var val = {
                    country_id: country_id
                }
                $.ajax({
                    type: 'post',
                    data: JSON.stringify(val),
                    contentType: 'application/json',
                    url: '/get-cities',
                    success: function (response) {
                        console.log(response);
                        if (response !== null) {
                            $.each(response, function (i, item) {
                                val = '<option value="' + item.city_id + '">' + item.city_name + '</option>';
                                $('.city').append(val);
                            });
                        }
                    }
                });
            });
            $('.go_cash').click(function (e) {
                e.preventDefault();
                var city_id = $('.city').val();
                var val = {
                    city_id: city_id
                }
                $.ajax({
                    type: 'post',
                    data: JSON.stringify(val),
                    contentType: 'application/json',
                    url: '/get-sellers-cash',
                    success: function (response) {
                        $('#count').empty();
                        $('#count').html('<h2>Offers found: ' + countProperties(response) + '</h2>');
                        $('table.sellers').show();
                        $('.response').empty();
                        if (response !== null) {
                            var arr = Object.keys(response).map(function (k) {
                                return response[k]
                            });
                            arr.forEach(function (item, i, arr) {
                                $('.response').append('<tr><td>' + item.username + '</td><td>' + item.feedback_score + '</td><td>' + item.trade_count + '</td><td>' + item.last_online + '</td></tr>');
                            });
                        }
                    }
                });
            });

            function countProperties(obj) {
                var prop;
                var propCount = 0;

                for (prop in obj) {
                    propCount++;
                }
                return propCount;
            }
        });

    </script>
{% endblock %}

