{% extends "layout.html" %}

{% block content %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block navigation %}{% include "navigation.html" %}{% endblock %}

<section class="table">
    <div class="container">
        <nav>
            <div class="nav-wrapper blue-grey lighten-5">
                <div class="row">
                    <div class="right btns">
                        {% if currencies.has_prev %}
                        <a href="/currencies/1" class="btn waves-effect waves-light"> First</a>
                        <a href="/currencies/{{currencies.prev_num}}" class="btn waves-effect waves-light">Previous 100
                            <i class="material-icons left">arrow_backward</i>
                        </a>
                        {% endif %}
                        {% if currencies.has_next %}
                        <a href="/currencies/{{currencies.next_num}}" class="btn waves-effect waves-light">Next 100
                            <i class="material-icons right">arrow_forward</i>
                        </a>
                        <a href="/currencies/{{currencies.pages}}" class="btn waves-effect waves-light"> Last</a>
                        {% endif %}
                        {% if all %}
                        <a href="/currencies/1" class="btn waves-effect waves-light"> View 100</a>
                        {% else %}
                        <a href="/currencies/all" class="btn waves-effect waves-light"> View All</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </nav>
        <table class="responsive-table bordered centered">
            <thead>
            <tr>
                <th>#</th>
                <th>Rank</th>
                <th>Currency</th>
                <th>Name</th>
                <th>Volume, BTC (24h)</th>
            </tr>
            </thead>
            <tbody>
            {% for currency in currencies.items %}
            <tr>
                <td>{{loop.index + (currencies.per_page * (currencies.page - 1))}}</td>
                <td>{{currency.rank}}</td>
                <td><a href="/currency/{{currency.symbol.lower()}}">{{currency.symbol}}</a></td>
                <td>{{currency.name}}</td>
                <td>{{currency.volume_usd_day}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="table-footer">
            <div class="row">
                <div class="right btns">
                    {% if currencies.has_prev %}
                    <a href="/currencies/1" class="btn waves-effect waves-light"> First</a>
                    <a href="/currencies/{{currencies.prev_num}}" class="btn waves-effect waves-light">Previous 100
                        <i class="material-icons left">arrow_backward</i>
                    </a>
                    {% endif %}
                    {% if currencies.has_next %}
                    <a href="/currencies/{{currencies.next_num}}" class="btn waves-effect waves-light">Next 100
                        <i class="material-icons right">arrow_forward</i>
                    </a>
                    <a href="/currencies/{{currencies.pages}}" class="btn waves-effect waves-light"> Last</a>
                    {% endif %}
                    {% if all %}
                    <a href="/currencies/1" class="btn waves-effect waves-light"> View 100</a>
                    {% else %}
                    <a href="/currencies/all" class="btn waves-effect waves-light"> View All</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <h2>Total Market Cap: $145,286,611,068</h2>
            </div>
            <div class="row">
                <p>Last updated: Oct 04, 2017 9:30 AM UTC</p>
            </div>
        </div>
    </div>
</section>
{% block footer %}{% include "footer.html" %}{% endblock %}
{% endblock %}