
<footer>
    <div class="container">
        <div class="left">
            <p>© 2017 CoinMarketCap</p>
            <ul>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Request Form</a></li>
            </ul>
        </div>
        <ul class="right">
            <li>Donate BTC:<a href="#">15gJiApW3G9MN2iTteQwQbq7NundwGWwv6</a></li>
            <li>Donate LTC:<a href="#">15gJiApW3G9MN2iTteQwQbq7NundwGWwv6</a></li>
            <li>Donate ETH:<a href="#">15gJiApW3G9MN2iTteQwQbq7NundwGWwv6</a></li>
        </ul>
    </div>
</footer>