<header>
    <div class="container">
        <div class="row">
            <ul class="col s3">
                <li><a href="/currency">{{session.currency_count}} Cryptocurrencies</a></li>
                <li><a href="/">{{session.market_count}} Markets</a></li>
            </ul>
            <ul class="col s7">
                <li>Market Cap:<a href="#">$144 629 110 479</a></li>
                <li>Market Cap:<a href="#">$2 932 036 368</a></li>
                <li>Market Cap:<a href="#">49.6%</a></li>
            </ul>
            <div class="col s2 social"><a class="waves-effect waves-light btn" href="#"><i class="small material-icons">tram</i>Follow
                @Coins</a></div>
        </div>
    </div>
</header>