<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="Coins" content="Basic template for quickly getting started">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Template Basic Images Start-->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Template Basic Images End-->
    <!-- Custom Browsers Color Start-->
    <!-- Chrome, Firefox OS and Opera-->
    <meta name="theme-color" content="#3A4446"/>
    <!-- Windows Phone-->
    <meta name="msapplication-navbutton-color" content="#3A4446"/>
    <!-- iOS Safari-->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3A4446"/>
    <!-- Custom Browsers Color End--><!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
    <!-- Loading CSS Start-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/libs/materialize.min.css">
    <link rel="stylesheet" href="/static/css/libs.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- Loading CSS End-->
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <ul class="col s3">
                <li><a href="/currency">{{session.currency_count}} Cryptocurrencies</a></li>
                <li><a href="/">{{session.market_count}} Markets</a></li>
            </ul>
            <ul class="col s7">
                <li>Market Cap:<a href="#">$144 629 110 479</a></li>
                <li>Market Cap:<a href="#">$2 932 036 368</a></li>
                <li>Market Cap:<a href="#">49.6%</a></li>
            </ul>
            <div class="col s2 social"><a class="waves-effect waves-light btn" href="#"><i class="small material-icons">tram</i>Follow
                @Coins</a></div>
        </div>
    </div>
</header>
<section class="navigation">
    <div class="container">
        <h1>Cryptocurrency Market Capitalizations</h1>
        <ul class="dropdown-content" id="dropdown1">
            <li><a href="#!">All</a></li>
            <li><a href="#!">Coins</a></li>
            <li><a href="#!">Token</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown2">
            <li><a href="#!">24 Hour Volume Rankings (Currency)</a></li>
            <li><a href="#!">24 Hour Volume Rankings (Exchange)</a></li>
            <li><a href="#!">Monthly Volume Rankings (Currency</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown3">
            <li><a href="#!">Gainers and Losers</a></li>
            <li><a href="#!">Recently Added</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown4">
            <li><a href="#!">Global Charts</a></li>
            <li><a href="#!">Historical Snapshots</a></li>
            <li><a href="#!">Currency Converter Calculator</a></li>
            <li><a href="#!">Website Widgets</a></li>
        </ul>
        <nav class="teal lighten-2">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Market Cap<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Trade Volume<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Tranding<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Tools<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <form class="right">
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons search">search</i></label><i
                            class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</section>
<div class="container">
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
<footer>
    <div class="container">
        <div class="left">
            <p>© 2017 CoinMarketCap</p>
            <ul>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Request Form</a></li>
            </ul>
        </div>
        <ul class="right">
            <li>Donate BTC:<a href="#">15gJiApW3G9MN2iTteQwQbq7NundwGWwv6</a></li>
            <li>Donate LTC:<a href="#">15gJiApW3G9MN2iTteQwQbq7NundwGWwv6</a></li>
            <li>Donate ETH:<a href="#">15gJiApW3G9MN2iTteQwQbq7NundwGWwv6</a></li>
        </ul>
    </div>
</footer>
<!-- Custom HTML End-->
<!-- Loading JS Start-->
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script defer src="/static/js/commons.js"></script>
<script defer src="/static/js/index.js"></script>
<!-- Loading JS End-->
<!--  Google fonts cdn-->
<script>
      WebFontConfig = {google: {families: ['Lato:300,400i,600,700', 'Open+Sans:400,700']}};
      (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

</script>
</body>
</html>