{% extends "base.html" %}

{% block content %}
<h3>П̶р̶е̶д̶с̶т̶а̶в̶ь̶с̶я̶ ̶м̶р̶а̶з̶ь̶ <br>Не соблговолите ли представиться, уважаемый пользователь</h3>
<br>
<form action="" method="post" name="login">
    <div class="form-group">
        <label for="name">Имя, сестра, имя!</label>
        {{form.name(size=80, class_="form-control")}}<br>
        {% for error in form.errors.name %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
    </div>
    <p><input type="submit" value="Arrrgh!" class="btn btn-primary"></p>
</form>
{% endblock %}