<section class="navigation">
    <div class="container">
        <h1>{{title}}</h1>
        <ul class="dropdown-content" id="dropdown1">
            <li><a href="#!">All</a></li>
            <li><a href="#!">Coins</a></li>
            <li><a href="#!">Token</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown2">
            <li><a href="#!">24 Hour Volume Rankings (Currency)</a></li>
            <li><a href="#!">24 Hour Volume Rankings (Exchange)</a></li>
            <li><a href="#!">Monthly Volume Rankings (Currency</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown3">
            <li><a href="#!">Gainers and Losers</a></li>
            <li><a href="#!">Recently Added</a></li>
        </ul>
        <ul class="dropdown-content" id="dropdown4">
            <li><a href="#!">Global Charts</a></li>
            <li><a href="#!">Historical Snapshots</a></li>
            <li><a href="#!">Currency Converter Calculator</a></li>
            <li><a href="#!">Website Widgets</a></li>
        </ul>
        <nav class="teal lighten-2">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Market Cap<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Trade Volume<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Tranding<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Tools<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <form class="right">
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons search">search</i></label><i
                            class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</section>